<div class="wrapper_with_padding">
  <div class="clearfix" id="docs">
    <% unless @documents.blank? %>
      <% @documents.each do |document| %>
        <a href="<%= (url_for [document]) %>">
          <div class="doc">
            <p class="title">
              <%= document.title %>
            </p>
            <p class="date">
              <%= time_ago_in_words(document.created_at) %>
            </p>
            <p class="content">
              <%= truncate(document.content, length:50) %>
            </p>
          </div>
        </a>
      <% end %>
    <% else %>
      <h2>Create Document!</h2>
      <p>Start Files Together!</p>
      <button>
        <%= link_to "Create Document", new_document_path %>
      </button>
    <% end %>
  </div>
</div>
